[submodule "cookbooks/omnibus_updater"]
	path = cookbooks/omnibus_updater
	url = https://github.com/hw-cookbooks/omnibus_updater.git
[submodule "cookbooks/timezone-ii"]
	path = cookbooks/timezone-ii
	url = https://github.com/L2G/timezone-ii.git
[submodule "cookbooks/sudo"]
	path = cookbooks/sudo
	url = https://github.com/opscode-cookbooks/sudo.git
[submodule "cookbooks/git"]
	path = cookbooks/git
	url = https://github.com/opscode-cookbooks/git
[submodule "cookbooks/users"]
	path = cookbooks/users
	url = https://github.com/opscode-cookbooks/users
[submodule "cookbooks/ntp"]
	path = cookbooks/ntp
	url = https://github.com/opscode-cookbooks/ntp
[submodule "cookbooks/logwatch"]
	path = cookbooks/logwatch
	url = https://github.com/opscode-cookbooks/logwatch
[submodule "cookbooks/logrotate"]
	path = cookbooks/logrotate
	url = https://github.com/opscode-cookbooks/logrotate
[submodule "cookbooks/openssh"]
	path = cookbooks/openssh
	url = https://github.com/opscode-cookbooks/openssh
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential
[submodule "cookbooks/perl"]
	path = cookbooks/perl
	url = https://github.com/opscode-cookbooks/perl
[submodule "cookbooks/cron"]
	path = cookbooks/cron
	url = https://github.com/opscode-cookbooks/cron
[submodule "cookbooks/nginx"]
	path = cookbooks/nginx
	url = https://github.com/opscode-cookbooks/nginx
[submodule "cookbooks/ohai"]
	path = cookbooks/ohai
	url = http://github.com/opscode-cookbooks/ohai
[submodule "cookbooks/yum"]
	path = cookbooks/yum
	url = http://github.com/opscode-cookbooks/yum
[submodule "cookbooks/iptables"]
	path = cookbooks/iptables
	url = http://github.com/opscode-cookbooks/iptables
[submodule "cookbooks/mysql"]
	path = cookbooks/mysql
	url = https://github.com/opscode-cookbooks/mysql.git
[submodule "cookbooks/apache2"]
	path = cookbooks/apache2
	url = https://github.com/opscode-cookbooks/apache2.git
[submodule "cookbooks/php"]
	path = cookbooks/php
	url = https://github.com/opscode-cookbooks/php.git
[submodule "cookbooks/java"]
	path = cookbooks/java
	url = https://github.com/opscode-cookbooks/java.git
[submodule "cookbooks/openssl"]
	path = cookbooks/openssl
	url = https://github.com/opscode-cookbooks/openssl.git
[submodule "cookbooks/application"]
	path = cookbooks/application
	url = https://github.com/opscode-cookbooks/application
[submodule "cookbooks/database"]
	path = cookbooks/database
	url = https://github.com/opscode-cookbooks/database
[submodule "cookbooks/phpmyadmin"]
	path = cookbooks/phpmyadmin
	url = git://github.com/priestjim/chef-phpmyadmin.git
